.lounge .bed-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    display: flex;
    justify-content: center;
    /* transform: translate(-336px, 177px); */
    transform: translate(-266px, 111px);
}

.lounge .kitchen-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    display: flex;
    justify-content: center;
    /* transform: translate(-336px, 177px); */
    transform: translate(326px, 111px);
}

.lounge .bath-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    display: flex;
    justify-content: center;
    /* transform: translate(-336px, 177px); */
    transform: translate(34px, 111px);
}

.lounge .office-btn {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: 111;
    display: flex;
    justify-content: center;
    /* transform: translate(-336px, 177px); */
    transform: translate(-148px, 334px);
}

.lounge .action-wraps {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4);
    max-width: 164px;
    padding: 10px 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.lounge .action-wraps span {
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    color: #1e1e1e;
    text-transform: capitalize;
}

.lounge .action-wraps label {
    width: 20px;
    height: 20px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    display: block;
    margin: 0;
}

.lounge .action-wraps label img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}

.zoom-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: scale(0);
    transition: transform 1s ease-in-out;
    z-index: 1111;
}

.zoom-transition.active {
    transform: scale(1.1);
}